venv/

airflow/.google
airflow/utils/__pycache__
airflow/pipelines/__pycache__
airflow/dags/__pycache__
airflow/config/secrets.conf
airflow/pipelines/lab.py
airflow/pipelines/2nd_lab.py
airflow/pipelines/uploadlab.py
airflow/data/input
airflow/data/output
airflow/tests/__pycache__/
airflow/pipelines/uploadlab.py


# Logs
firebase-debug.log
airflow/logs

# Terraform
terraform/.terraform
terraform/nasa-neows-c12d19292fad.json
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/tests/__pycache__
terraform/tests/test_terraform.py
terraform/tests/fixtures.py
terraform/terraform.tfstate.backup

directory_structure.txt


neo_browse_asteroid_data.csv
