venv/
airflow/.google

airflow/utils/__pycache__
airflow/pipelines/__pycache__
airflow/dags/__pycache__
airflow/config/secrets.conf




terraform/.terraform
terraform/nasa-neows-c12d19292fad.json


airflow/pipelines/lab.py
airflow/pipelines/2nd_lab.py

airflow/data/input
airflow/data/output